@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Slabo+27px&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Joshfin Sans", sans-serif;
    font-weight: 300;
}
html{
    font-size: 62.5%;
}
.main-div{
    width: 100vw;
    min-height: 100aw;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);
    
}
.inner-dive{
    width: 40vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0);
}
.inner-dive h2{
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}
.inner-dive li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}
input{
    cursor: pointer;
}
#Submit, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color:rgb(17, 17, 17);
    background-color: #74b9ff;
    margin-top: 4rem;
}
#Submit:hover{
    background-color: #0984e3;
}
#showScore{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem;
}
.ScoreArea{
display: none;
}
p {
    border: 2px solid powderblue;
    padding: 30px;
    list-style-position: center ;
   
  }
  h1{
      text-align: center;
      text-shadow: #0984e3;
  }
  h3{
    text-align: center;
    font-size: medium;
}
h2{
    font-size: 1.8rem;
}
li{
    font-size: 1.8rem;
}
