table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.headers{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-rendering: auto;
    display: flex;
    align-items: center;
   justify-content: center
}
.center3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    align-items: center;
    
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
h2{
    text-align: center;
}
.form-group{
    text-align: center;
}
#home-page{
    align-items: center;
}
p1{
    color: rgb(77, 66, 66);
}

  .message {
    text-align: center;
  }
  .top-right {
    bottom: 8px;
    right: 16px;
    font-size: 150%;
  }
  .vertical-menu{
      font-size: 150%;
  }
  .aboutus{
      text-align: center;
  }
  a:link, a:visited {
    background-color: #7e7385;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(28, 155, 123);
  }